/* RevealLabel */
.reveal-label-overflow {
  overflow: hidden;
}

.reveal-label-text {
  display: block;
  font-size: var(--text-base);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.reveal-label-text--light {
  color: var(--text-inverse);
}

.reveal-label-text--dark {
  color: var(--text-muted);
}