/* LinkWithArrow */
.link-arrow-wrap {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.link-arrow-icon {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

@media (hover: hover) {
  .link-arrow-wrap:hover .link-arrow-icon {
    transform: rotate(-45deg);
  }
}